.countdownpopup {
	width: 100%;
	z-index: 1000;
	padding:0;
	margin:0;
	color: #000000de;
    height: calc(100vh - 64px);
}
.countdownpopup {
	background-color: #00182f;
}
.countdown-seconds-circle {
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	height: 80vw;
	width: 80vw;
	max-width: 80vh;
	max-height: 80vh;
    transition: all 1s ease;
}
.countdown-minutes-circle {
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vw;
	width: 90vw;
	max-width: 90vh;
	max-height: 90vh;
}
.countdown-title {
	color: #396;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}
 
.countdown {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #00182f;
    margin-top: 10px;
}
 
.countdown-number {
	height: 40vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	transition: height 0.5s ease 0s, opacity 0s;
}
.countdown-number.m {
	height: 0; opacity: 0;
}
.countdown-number.s {
	height: 80vw;
}
.countdown-time {
	line-height: 0.8em;
}
 
.countdown-text {
	display: block;
	padding-top: 5px;
	font-size: 16px;
}
.countdown-message {
	display: none;
	font-family: sans-serif;
	color: #b70000;
	font-weight: 100;
	text-align: center;
	font-size: 50px;
	justify-content: center;
	margin: 100px 0;
}
.countdown-message.end {
	display: flex;
}
.countdown.end {
	display: none;
}